.parent-header {
  margin-top: 36px;
  padding: 16px;
  display: flex;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #e8e8e8;
}
.backwrapper {
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}
.header-navlink-back {
  display: flex;
  align-items: center;
  height: 100%;
}
